body {
    background-color: black;
    color: blanchedalmond;
  }
  h1{
      color :ghostwhite;
  }
  p{
      font-family: 'Lucida Sans Regular';

  }
  #summary{
      font-weight: 600;
  }
  #blackone{
      background: rgb(53, 51, 51);
      font-size: larger;
  }